# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.properties

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath
*.swp

# OS
.DS_Store
Thumbs.db

# Java
*.class
*.jar
*.war

# Test output
test-output/

# Folders to hide in main branch
consumer-worker/
producer-api/
frontend/
aws/
Docker/
documentacion/
assets/
